<?xml version="1.0" encoding="utf-8"?>
<audioplay>
    <config>
	
	<player playerid="3">
	    <musicfile>music.mp3</musicfile>
	    <repeatTimes>0</repeatTimes>
	    <autostart>yes</autostart>
	    <buttondir>buttons/classic_small</buttondir>
	    <mode>playpause</mode>
	    <listenstop>yes</listenstop>
	    <trackid>third</trackid>
	    <nexttrack>first</nexttrack>
	    <fadeindur>1000</fadeindur>
	    <mastervol>90</mastervol>
	    <playscriptfile></playscriptfile>  
            <pausescriptfile></pausescriptfile>
            <stopscriptfile></stopscriptfile>
	    <autostartdelay>1000</autostartdelay>
	    <einterface>no</einterface>
	    <initbuf>no</initbuf>
	</player>
	
    </config>
</audioplay>

